
.wrapper {
  margin: 20px auto;
}

@media (min-width: 200px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 500px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 800px) {
  .card-columns {
    column-count: 4;
  }
}
